html {
  height: 100%;
}
body {
  margin: 0;
  height: 100%;
  display: grid;
  grid-template-rows: 100px 1fr;
  grid-template-columns: 100px 1fr;
}
header {
  border: 1px solid black;
  grid-column: 1 / 3;
  grid-row: 1 / 2;
  display: flex;
  justify-content: center;
}

nav {
  border: 1px solid black;
}
h2 {
  border-bottom: 1px solid black;
}
.main-container {
  grid-column: 1 / 3;
}
.tasks {
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.taskscontainer {
  width: 100%;
  margin: auto;
}
.task {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr 0.25fr;
  margin: 1em;
  padding: 0.25em;
  border: 1px solid grey;
}
.tasktitle {
  display: inline;
  font-size: 2em;
  grid-column: 1;
}
.taskcomplete {
  display: flex;
  justify-content: left;
  margin: 0;
  grid-column: 3;
  grid-row: 1 / 3;
  input {
    width: 100%;
  }
}
.taskdescription {
  font-size: 1em;
  grid-column: 1;
  grid-row: 2;
}
.taskdue {
  font-size: 1em;
  grid-column: 2;
  grid-row: 2;
}
.duetext {
  display: flex;
  align-items: end;
  font-weight: bold;
}
